/* small박스가 연보라박스 */
/* width: 375px;
    height: 667px; */

body {
    width: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
}

.head {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.head .logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
}
.head .logo .h2 {
    font-size: 22px;
}

.head .top {
    display: flex;
}

.head .nav {
    display: flex;
    margin: 75px auto;
}

.head .nav li a {
    font-size: 11px;
    padding: 0 20px;
}

.head img {
    position: relative;
    padding-top: 23px;
    padding-right: 24px;
}

.head .user span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 16px;
}

.container {
    overflow: hidden;
    position: relative;
}

/* head 끝*/

/* /slider */

/* .slider {
    padding: 30px;
    display: flex;
} */

.slider {
    margin: 30px;
}

.slider .slider_box {
}
.slider .main_box {
    position: relative;
    width: 255px;
    height: 196px;
    background-color: #d0cbff;
    border-radius: 15px;
}

.slider .main_box .slider_detail {
    position: absolute;
    bottom: 0;
    background-color: #827fa0;
    width: 255px;
    height: 65px;
    border-radius: 15px;
}

.slider .main_box .slider_detail h2 {
    font-size: 15px;
    color: #fff;
    padding: 5px 196px 40px 13px;
    font-weight: lighter;
}

.slider .main_box p {
    position: absolute;
    bottom: 27px;
    left: 86px;
    color: #fff;
    font-size: 8px;
    font-weight: lighter;
}

.slider .main_box .heart {
    position: absolute;
    top: 137px;
    right: 10px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    line-height: 18px;
}

.slider .main_box .star {
    position: absolute;
    bottom: 24px;
    left: 13px;
    padding-right: 5px;
}

.text_box p {
    color: #fff;
    font-size: 8px;
}

/* //slider끝 */
/* 서브프로덕트
width 157px height 164px 간격20px */

.product_01 .name {
    display: flex;
    justify-content: space-between;
    margin: 11px 30px 17px 30px;
}

.product_01 .name h4 {
    color: #000;
}

.product_01 .name p {
    font-size: 10px;
}

.product_01 .small_box {
    display: flex;
    gap: 19px;
    padding: 0 21px 28px 21px;
}

.product_01 .small_box li {
    position: relative;
    background-color: #d0cbff;
    width: 157px;
    height: 164px;
    border-radius: 10px;
}

.product_01 .small_box .detail_box {
    border-radius: 10px;
    display: flex;
    width: 157px;
    height: 54px;
    background-color: #928eb3;
    color: #fff;
    margin-top: 110px;
}

.product_01 .small_box .detail_box p {
    font-size: 5px;
    font-weight: lighter;
    padding-left: 10px;
    padding-top: 8px;
}

.product_01 .small_box .detail_box .score {
    font-size: 8px;
    position: absolute;
    bottom: 18px;
    left: 70px;
}

.product_01 .small_box .heart {
    position: absolute;
    top: 102px;
    right: 14px;
}

.product_01 .small_box .star {
    position: absolute;
    bottom: 15px;
    left: 10px;
}

/* //.product_01끝! */

/* .product_02 */

/* 버튼 284*69xp
보더38 */

.button {
    position: absolute;
    bottom: 8px;
    left: 45px;
    background-color: #fff;
    margin-bottom: 8px;
    border-radius: 38px;
}

.button .btn {
    position: relative;
    display: flex;
}

.button .btn li {
    padding: 25px 24px 25px 30px;
}

.button .btn a:hover :first-child {
    color: #6a62b7;
    transition: all 0.3s;
}

/* .button .btn li::after {
    background-color: red;
    position: absolute;
    content: "";
    width: 10%;
    height: 5px;
    bottom: 0;
} */
